#web_bg {
	background-image: url("../img/banner.jpg"),
		linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35))
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget {
	background: linear-gradient(-45deg,
			#e8d8b9,
			#eccec5,
			#a3e9eb,
			#bdbdf0,
			#eec1ea);
	box-shadow: 0 0 5px rgb(66, 68, 68);
	position: relative;
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
	background-color: #3eb8be;
	border-radius: 8px;
}

#aside-content>.sticky_layout>.card-widget {
	background: rgba(255, 255, 255, .8);


}

/*文章页面*/
.layout>#post {
	background: rgba(255, 255, 255, .8);
}

/*分类页面*/
.layout>#page {

	background: rgba(255, 255, 255, .6);
}

/*时间轴页面*/
.layout>#archive {
	background: rgba(255, 255, 255, .6);
}

/* 导航栏居中 */
#nav-right {
	flex: 1 1 auto;
	justify-content: flex-end;
	margin-left: auto;
	display: flex;
	flex-wrap: nowrap;
}

/* 导航栏常驻 */
.nav-fixed #nav {
	transform: translateY(58px) !important;
	-webkit-transform: translateY(58px) !important;
	-moz-transform: translateY(58px) !important;
	-ms-transform: translateY(58px) !important;
	-o-transform: translateY(58px) !important;
}

#nav {
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

/* 导航栏显示标题 */
/*显示标题*/
#page-name::before {
	font-size: 18px;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	color: white !important;
	top: 0;
	left: 0;
	background-color: var(--lyx-theme);
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	opacity: 0;
	box-shadow: 0 0 3px var(--lyx-theme);
	line-height: 45px;
	/*如果垂直位置不居中可以微调此值，也可以删了*/
}

#page-name:hover:before {
	opacity: 1;
}

@media screen and (max-width:900px) {

	#page-name,
	#menus {
		display: none !important;
	}
}

#name-container {
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

#name-container:hover {
	scale: 1.03
}

#page-name {
	position: relative;
	padding: 10px 30px
}

#nav {
	padding: 0 20px;
}

/*顶部加载进度条*/
.pace {
	pointer-events: none;
	user-select: none;
	z-index: 2;
	position: fixed;
	margin: auto;
	top: 4px;
	left: 0;
	right: 0;
	height: 8px;
	border-radius: 8px;
	width: 6rem;
	background: #eaecf2;
	overflow: hidden;
}

.pace-inactive .pace-progress {
	opacity: 0;
	transition: 0.3s ease-in;
}

.pace.pace-inactive {
	opacity: 0;
	transition: 0.3s;
	top: -8px;
}

.pace .pace-progress {
	box-sizing: border-box;
	transform: translate3d(0, 0, 0);
	position: fixed;
	z-index: 2;
	display: block;
	position: absolute;
	top: 0;
	right: 100%;
	height: 100%;
	width: 100%;
	background: #49b1f5;
	background: linear-gradient(to right,
			rgb(18, 194, 233),
			rgb(196, 113, 237),
			rgb(246, 79, 89));
	animation: gradient 2s ease infinite;
	background-size: 200%;
}

#nav-right {
	flex: 1 1 auto;
	justify-content: flex-end;
	margin-left: auto;
	display: flex;
	flex-wrap: nowrap;
}

/* 翻页按钮居中 */
#pagination {
	width: 100%;
	margin: auto;
}

/* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
	-webkit-animation: ccc 4s linear infinite;
	animation: ccc 4s linear infinite;
}

/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(-1turn);
		transform: rotate(-1turn);
	}
}

@keyframes ccc {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(-1turn);
		transform: rotate(-1turn);
	}
}

/* 设置风车颜色 */
#content-inner.layout h1::before {
	color: #ef50a8;
	margin-left: -1.55rem;
	font-size: 1.3rem;
	margin-top: -0.23rem;
}

#content-inner.layout h2::before {
	color: #fb7061;
	margin-left: -1.35rem;
	font-size: 1.1rem;
	margin-top: -0.12rem;
}

#content-inner.layout h3::before {
	color: #ffbf00;
	margin-left: -1.22rem;
	font-size: 0.95rem;
	margin-top: -0.09rem;
}

#content-inner.layout h4::before {
	color: #a9e000;
	margin-left: -1.05rem;
	font-size: 0.8rem;
	margin-top: -0.09rem;
}

#content-inner.layout h5::before {
	color: #57c850;
	margin-left: -0.9rem;
	font-size: 0.7rem;
	margin-top: 0rem;
}

#content-inner.layout h6::before {
	color: #5ec1e0;
	margin-left: -0.9rem;
	font-size: 0.66rem;
	margin-top: 0rem;
}

/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
	color: var(--theme-color);
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
	color: var(--theme-color);
	-webkit-animation: ccc 6s linear infinite;
	animation: ccc 6s linear infinite;
}

/* 复制文字提醒 */
.toast-title {
	font-weight: bold;
}

.toast-message {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.toast-message a,
.toast-message label {
	color: #FFFFFF;
}

.toast-message a:hover {
	color: #CCCCCC;
	text-decoration: none;
}

.toast-close-button {
	position: relative;
	right: -0.3em;
	top: -0.3em;
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #ffffff;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
	line-height: 1;
}

.toast-close-button:hover,
.toast-close-button:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	filter: alpha(opacity=40);
}

.rtl .toast-close-button {
	left: -0.3em;
	float: left;
	right: 0.3em;
}

/*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	appearance: none;
}

.toast-top-center {
	top: 0;
	right: 0;
	width: 100%;
}

.toast-bottom-center {
	bottom: 0;
	right: 0;
	width: 100%;
}

.toast-top-full-width {
	top: 0;
	right: 0;
	width: 100%;
}

.toast-bottom-full-width {
	bottom: 0;
	right: 0;
	width: 100%;
}

.toast-top-left {
	top: 12px;
	left: 12px;
}

.toast-top-right {
	top: 12px;
	right: 12px;
}

.toast-bottom-right {
	right: 12px;
	bottom: 12px;
}

.toast-bottom-left {
	bottom: 12px;
	left: 12px;
}

#toast-container {
	position: fixed;
	z-index: 999999;
	pointer-events: none;
	/*overrides*/
}

#toast-container * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#toast-container>div {
	position: relative;
	pointer-events: auto;
	overflow: hidden;
	margin: 0 0 6px;
	padding: 15px 15px 15px 50px;
	width: 300px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	background-position: 15px center;
	background-repeat: no-repeat;
	color: #0e0808;
	opacity: 1.0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
}

#toast-container>div.rtl {
	direction: rtl;
	padding: 15px 50px 15px 15px;
	background-position: right 15px center;
}

#toast-container>div:hover {
	-moz-box-shadow: 0 0 12px #000000;
	-webkit-box-shadow: 0 0 12px #000000;
	box-shadow: 0 0 12px #000000;
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	cursor: pointer;
}

#toast-container>.toast-success {
	background-image: url("../img/copy_hh.png") !important;
}

#toast-container.toast-top-center>div,
#toast-container.toast-bottom-center>div {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#toast-container.toast-top-full-width>div,
#toast-container.toast-bottom-full-width>div {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

.toast {
	background-color: #030303;
}

.toast-success {
	background-color: #ffffff;
}

.toast-progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	background-color: #000000;
	opacity: 0.4;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	filter: alpha(opacity=40);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
	#toast-container>div {
		padding: 8px 8px 8px 50px;
		width: 11em;
	}

	#toast-container>div.rtl {
		padding: 8px 50px 8px 8px;
	}

	#toast-container .toast-close-button {
		right: -0.2em;
		top: -0.2em;
	}

	#toast-container .rtl .toast-close-button {
		left: -0.2em;
		right: 0.2em;
	}
}

@media all and (min-width: 241px) and (max-width: 480px) {
	#toast-container>div {
		padding: 8px 8px 8px 50px;
		width: 18em;
	}

	#toast-container>div.rtl {
		padding: 8px 50px 8px 8px;
	}

	#toast-container .toast-close-button {
		right: -0.2em;
		top: -0.2em;
	}

	#toast-container .rtl .toast-close-button {
		left: -0.2em;
		right: 0.2em;
	}
}

@media all and (min-width: 481px) and (max-width: 768px) {
	#toast-container>div {
		padding: 15px 15px 15px 50px;
		width: 25em;
	}

	#toast-container>div.rtl {
		padding: 15px 50px 15px 15px;
	}
}